<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head(pageTitle)">
    <meta charset="UTF-8">
    <title th:text="${pageTitle}"></title>
    <link rel="stylesheet" th:href="@{/css/bootstrap-5.1.3.css}" href="css/bootstrap-5.1.3.css" type="text/css" />
    <link rel="stylesheet" th:href="@{/css/custom.css}" href="css/custom.css" type="text/css" />
    <link rel="icon" th:href="@{/img/favicon.png}" href="/img/favicon.png" type="image/x-icon">
</head>

<body>
    Head fragment - rest intentionally left empty.
</body>

</html>