<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
    <head th:replace="fragments/_header :: head(pageTitle='Ingredientes')">
    
</head>

<body class="d-flex flex-column h-100">
    <header th:replace="fragments/_nav.html :: nav"></header>

    <form id="ingredient-form">

        <label for="title">Nombre:</label>
        <input type="text" placeholder="Nombre del ingrediente" id="ingredient-title">

        <label for="quantity">Cantidad:</label>
        <input type ="text" placeholder="Cantidad" id="ingredient-quantity"></input>

        <label for="measure">Medida:</label>
        <input type="text" placeholder="Medida (kgs, g, litros...)" id="ingredient-measure">

        <label for="alert">Alerta:</label>
        <input type="text" placeholder="Cantidad minima" id="ingredient-alert">

        <button id="btn-ingredient-form">Guardar</button>

    </form>

    <div id="ingredients-container"></div>

    <script th:src="@{/js/index.js}" type="module"></script>
    
</body>

</html>