<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
    <head th:replace="fragments/_header :: head(pageTitle='INGREDIENTS')">
    
</head>

<body class="d-flex flex-column h-100 bg-image">
    <header th:replace="fragments/_nav.html :: nav"></header>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    
    <div class="container" style="display: flex; justify-content: space-between; align-items: center;">
      <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#añadirModal" id="btn-add-new-ingredient">
        <i class="fas fa-plus"></i> Añadir nuevo ingrediente
      </button>
      <div class="form-group">
        <label for="filter-categories">Filtrar por categoría:</label>
        <select class="form-select" id="filter-categories">
          <option value="">Todas las categorías</option>
          <!-- Agrega más opciones de categorías aquí -->
        </select>
      </div>
      <div>
        <input type="text" id="buscarInput" placeholder="Buscar ingrediente">
        <button class="btn btn-info">Buscar</button>
      </div>
    </div>

    <br />
    
    <!--Esto son datos de test, los datos se rellenan en ingredients.js-->
    <div class="container">
      <table class="table" id="ingredients-table">
        <thead class="thead-dark">
          <tr>
            <th scope="col" onclick="sortTable(0)" class="sortable active">NOMBRE</th>
            <th scope="col" onclick="sortTable(1)" class="sortable active">CATEGORIA</th>
            <th scope="col" onclick="sortTable(2)" class="sortable active">UNIDADES</th>
            <th scope="col" onclick="sortTable(3)" class="sortable active">MEDIDA</th>
            <th scope="col" onclick="sortTable(4)" class="sortable active">ALERTA</th>
            <th scope="col" style="text-align: center;">MODIFICAR</th>
            <th scope="col" style="text-align: center;">ELIMINAR</th>
          </tr>
        </thead>
        <tbody id="listaIngredientes">
          <tr>
          </tr>
        </tbody>
      </table>
    </div>

    <!-- MODAL AÑADIR INGREDIENTE-->
    <div class="modal fade" id="añadirModal" data-bs-backdrop="static" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel"> Añadir ingrediente</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <input type="text" id="ingname" class="form-control" placeholder="Nombre" required="required">
            <br />
            <select id="ingcategory" class="form-select" required="required">
              <option value="">Categoría</option>
            </select>
            <br />
            <input type="number" id="ingquantity" class="form-control" placeholder="Numero de unidades" required="required">
            <br />
            <select id="ingmeasure" class="form-select" required="required">
              <option value="">Medida</option>
            </select>
            <br />
            <input type="number" id="ingalert" class="form-control" placeholder="Alerta minima de existencias" required="required">
            <br />
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><i class="fa-solid fa-xmark"></i>  Cancelar</button>
            <button type="button" class="btn btn-primary" data-bs-dismiss="modal" id="btn-save-new-ingredient"><i class="fa-regular fa-floppy-disk"></i>  Guardar</button>
          </div>
        </div>
      </div>
    </div>

    <!-- MODAL EDITAR INGREDIENTE-->
    <div class="modal fade" id="editarModal" data-bs-backdrop="static" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel"> Editar ingrediente</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <label for="ingnameedit">Nombre:</label>
              <input type="text" id="ingnameedit" class="form-control" placeholder="Nombre" required="required" readonly>
            </div>
            <br/>
            <div class="form-group">
              <label for="ingcategoryedit">Categoría:</label>
              <select id="ingcategoryedit" class="form-select" required="required">
                <option value="">Categoría</option>
              </select>
            </div>
            <br/>
            <div class="form-group">
              <label for="ingquantityedit">Numero de unidades:</label>
              <input type="number" id="ingquantityedit" class="form-control" placeholder="Numero de unidades" required="required">
            </div>
            <br/>
            <div class="form-group">
              <label for="ingmeasureedit">Tipo de unidad:</label>
              <select id="ingmeasureedit" class="form-select" required="required">
                <option value="">Tipo de unidad</option>
              </select>
            </div>
            <br/>
            <div class="form-group">
              <label for="ingalertedit">Alerta minima de existencias:</label>
              <input type="number" id="ingalertedit" class="form-control" placeholder="Alerta minima de existencias" required="required">
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="btn-cancel-edit"><i class="fa-solid fa-xmark"></i>  Cancelar</button>
            <button type="button" class="btn btn-primary" data-bs-dismiss="modal" id="btn-save-edit"><i class="fa-regular fa-floppy-disk"></i>  Guardar</button>
          </div>
        </div>
      </div>
    </div>

    
    <script>
      function sortTable(n) {
        var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
        table = document.getElementById("ingredients-table");
        switching = true;
        // Set the sorting direction to ascending:
        dir = "asc";
        /* Cambiar el color de las letras de la cabecera de la columna seleccionada */
        var headers = table.getElementsByTagName("th");
        for (i = 0; i < headers.length; i++) {
          if (i === n) {
            headers[i].style.color = "red";
          } else {
            headers[i].style.color = "black";
          }
        }
        /* Make a loop that will continue until
        no switching has been done: */
        while (switching) {
          // Start by saying: no switching is done:
          switching = false;
          rows = table.rows;
          /* Loop through all table rows (except the
          first, which contains table headers): */
          for (i = 1; i < (rows.length - 1); i++) {
            // Start by saying there should be no switching:
            shouldSwitch = false;
            /* Get the two elements you want to compare,
            one from current row and one from the next: */
            x = rows[i].getElementsByTagName("TD")[n];
            y = rows[i + 1].getElementsByTagName("TD")[n];
            /* Check if the two rows should switch place,
            based on the direction, asc or desc: */
            if (dir == "asc") {
              if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                // If so, mark as a switch and break the loop:
                shouldSwitch = true;
                break;
              }
            } else if (dir == "desc") {
              if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
                // If so, mark as a switch and break the loop:
                shouldSwitch = true;
                break;
              }
            }
          }
          if (shouldSwitch) {
            /* If a switch has been marked, make the switch
            and mark that a switch has been done: */
            rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
            switching = true;
            // Each time a switch is done, increase this count by 1:
            switchcount ++;
          } else {
            /* If no switching has been done AND the direction is "asc",
            set the direction to "desc" and run the while loop again. */
            if (switchcount == 0 && dir == "asc") {
              dir = "desc";
              switching = true;
            }
          }
        }
      }
    </script>
    <script th:src="@{/js/ingredients.js}" type="module"></script>

    
</body>

</html>