<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
  <head th:replace="fragments/_header :: head(pageTitle='Platos')">
</head>

<body class="d-flex flex-column h-100">
  <header th:replace="fragments/_nav.html :: nav"></header>

  <br />

  <div class="container" style="display: flex; justify-content: space-between; align-items: center;">
    <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#añadirPlato" id="btn-add-new-plate">
      <i class="fas fa-plus"></i> Añadir nuevo plato
    </button>
    <div class="form-group">
      <label for="filter-categories">Filtrar por categoría:</label>
      <select class="form-select" id="filter-categories">
        <option value="">Todas las categorías</option>
        <!-- Agrega más opciones de categorías aquí -->
      </select>
    </div>
    <div>
      <input type="text" id="buscarInput" placeholder="Buscar plato">
      <button class="btn btn-info">Buscar</button>
    </div>
  </div>

  <br />

  <div class="container">
    <table class="table" id="plates-table">
      <thead class="thead-dark"> 
        <tr>
          <th scope="col" onclick="sortTable(0)" class="sortable active">Nombre del plato</th>
          <th scope="col" onclick="sortTable(1)" class="sortable active">Categoria</th>
          <th scope="col" onclick="sortTable(2)" class="sortable active">Cantidad</th>
          <th scope="col">Ingredientes</th>
          <th scope="col">Editar</th>
          <th scope="col">Eliminar</th>
        </tr>
      </thead>
      <tbody id="listaPlatos">
      </tbody>
    </table>
  </div>

  <!-- MODAL AÑADIR PLATOS-->
  <div class="modal fade" id="añadirPlato" data-bs-backdrop="static" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel"> Añadir plato</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <input type="text" id="platename" class="form-control" placeholder="Nombre" required="required">
          <br />
          <select id="platecategory" class="form-select" required="required">
            <option value="">Categoría</option>
          </select>
          <br />
          <div class="form-group">
            <label for="plateavailable">Disponible:</label>
            <div class="form-check form-switch form-check-inline">
              <input type="checkbox" id="plateavailable" class="form-check-input" checked>
            </div>
          </div>
          <hr>
          <h6>Ingredientes:</h6>
          <div id="ingredient-list">
          </div>
          <button type="button" class="btn btn-primary mt-3" id="add-ingredient">Añadir ingrediente</button>
          <br />
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="btn-cancel-new-plate"><i class="fa-solid fa-xmark"></i>  Cancelar</button>
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal" id="btn-save-new-plate"><i class="fa-regular fa-floppy-disk"></i>  Guardar</button>
        </div>
      </div>
    </div>
  </div>

  <!-- MODAL EDITAR PLATO-->
  <div class="modal fade" id="editarPlato" data-bs-backdrop="static" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel"> Editar plato</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label for="platenameedit">Nombre:</label>
            <input type="text" id="platenameedit" class="form-control" placeholder="Nombre" required="required" readonly>
          </div>
          <br/>
          <div class="form-group">
            <label for="platecategoryedit">Categoría:</label>
            <select id="platecategoryedit" class="form-select" required="required">
              <option value="">Categoría</option>
            </select>
          </div>
          <br/>
          <div class="form-group">
            <label for="plateavailableedit">Disponible:</label>
            <div class="form-check form-switch form-check-inline">
              <input type="checkbox" id="plateavailableedit" class="form-check-input">
            </div>
          </div>
          <hr>
          <h6>Ingredientes:</h6>
          <div id="ingredient-list-edit">
          </div>
          <button type="button" class="btn btn-primary mt-3" id="add-ingredient-edit">Añadir ingrediente</button>
          <br />
          <br/>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="btn-cancel-edit"><i class="fa-solid fa-xmark"></i>  Cancelar</button>
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal" id="btn-save-edit"><i class="fa-regular fa-floppy-disk"></i>  Guardar</button>
        </div>
      </div>
    </div>
  </div>

  <script>
    function sortTable(n) {
      var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
      table = document.getElementById("plates-table");
      switching = true;
      // Set the sorting direction to ascending:
      dir = "asc";
      /* Cambiar el color de las letras de la cabecera de la columna seleccionada */
      var headers = table.getElementsByTagName("th");
      for (i = 0; i < headers.length; i++) {
        if (i === n) {
          headers[i].style.color = "red";
        } else {
          headers[i].style.color = "black";
        }
      }
      /* Make a loop that will continue until
      no switching has been done: */
      while (switching) {
        // Start by saying: no switching is done:
        switching = false;
        rows = table.rows;
        /* Loop through all table rows (except the
        first, which contains table headers): */
        for (i = 1; i < (rows.length - 1); i++) {
          // Start by saying there should be no switching:
          shouldSwitch = false;
          /* Get the two elements you want to compare,
          one from current row and one from the next: */
          x = rows[i].getElementsByTagName("TD")[n];
          y = rows[i + 1].getElementsByTagName("TD")[n];
          /* Check if the two rows should switch place,
          based on the direction, asc or desc: */
          if (dir == "asc") {
            if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
              // If so, mark as a switch and break the loop:
              shouldSwitch = true;
              break;
            }
          } else if (dir == "desc") {
            if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
              // If so, mark as a switch and break the loop:
              shouldSwitch = true;
              break;
            }
          }
        }
        if (shouldSwitch) {
          /* If a switch has been marked, make the switch
          and mark that a switch has been done: */
          rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
          switching = true;
          // Each time a switch is done, increase this count by 1:
          switchcount ++;
        } else {
          /* If no switching has been done AND the direction is "asc",
          set the direction to "desc" and run the while loop again. */
          if (switchcount == 0 && dir == "asc") {
            dir = "desc";
            switching = true;
          }
        }
      }
    }
  </script>
  <script th:src="@{/js/plates.js}" type="module"></script>

</body>

</html>
