<!DOCTYPE html>
<html class="h-100" xmlns:th="http://www.thymeleaf.org">

<head>
  <head th:replace="fragments/_header :: head(pageTitle='Test')">
</head>

<body class="d-flex flex-column h-100 bg-image">
  <header th:replace="fragments/_nav.html :: nav"></header>

  <br>
  <br>
  <br>
  <br>
  <br>
  <br>

  <div class="container-menu">
    <div class="form-group">
      <label for="filter-categories">Filtrar por categoría:</label>
      <select class="form-select" id="filter-categories">
        <option value="">Todas las categorías</option>
        <!-- Agrega más opciones de categorías aquí -->
      </select>
    </div>
    <div>
      <input type="text" id="buscarInput" placeholder="Buscar plato">
      <button class="btn btn-info">Buscar</button>
    </div>
    <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#añadirPlato" id="btn-add-new-plate">
      <i class="fas fa-plus"></i> Guardar menu
    </button>
  </div>

  <br />

  <div class="contenedor">
    <div class="columna">
      <div class="container">
        <table class="table" id="plates-table">
          <thead class="thead-dark"> 
            <tr>
              <th scope="col" onclick="sortTable(0)" class="sortable active">Nombre del plato</th>
              <th scope="col" onclick="sortTable(1)" class="sortable active">Categoria</th>
              <th scope="col">Ingredientes</th>
              <th scope="col">Añadir</th>
              <th scope="col">Cantidad</th>
            </tr>
          </thead>
          <tbody id="listaPlatos">
          </tbody>
        </table>
      </div>
    </div>
    <div class="columna">
      <h2>Platos seleccionados:</h2>
      <div class="container">
        <table class="table" id="plates-selected">
          <thead class="thead-dark"> 
            <tr>
              <th scope="col" onclick="sortTable(0)" class="sortable active">Nombre del plato</th>
              <th scope="col" onclick="sortTable(1)" class="sortable active">Categoria</th>
              <th scope="col">Cantidad</th>
            </tr>
          </thead>
          <tbody id="listaPlatosSelected">
          </tbody>
        </table>
      </div>
    </div>
  </div>
  


  <script>
    function sortTable(n) {
      var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
      table = document.getElementById("plates-table");
      switching = true;
      // Set the sorting direction to ascending:
      dir = "asc";
      /* Cambiar el color de las letras de la cabecera de la columna seleccionada */
      var headers = table.getElementsByTagName("th");
      for (i = 0; i < headers.length; i++) {
        if (i === n) {
          headers[i].style.color = "red";
        } else {
          headers[i].style.color = "black";
        }
      }
      /* Make a loop that will continue until
      no switching has been done: */
      while (switching) {
        // Start by saying: no switching is done:
        switching = false;
        rows = table.rows;
        /* Loop through all table rows (except the
        first, which contains table headers): */
        for (i = 1; i < (rows.length - 1); i++) {
          // Start by saying there should be no switching:
          shouldSwitch = false;
          /* Get the two elements you want to compare,
          one from current row and one from the next: */
          x = rows[i].getElementsByTagName("TD")[n];
          y = rows[i + 1].getElementsByTagName("TD")[n];
          /* Check if the two rows should switch place,
          based on the direction, asc or desc: */
          if (dir == "asc") {
            if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
              // If so, mark as a switch and break the loop:
              shouldSwitch = true;
              break;
            }
          } else if (dir == "desc") {
            if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
              // If so, mark as a switch and break the loop:
              shouldSwitch = true;
              break;
            }
          }
        }
        if (shouldSwitch) {
          /* If a switch has been marked, make the switch
          and mark that a switch has been done: */
          rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
          switching = true;
          // Each time a switch is done, increase this count by 1:
          switchcount ++;
        } else {
          /* If no switching has been done AND the direction is "asc",
          set the direction to "desc" and run the while loop again. */
          if (switchcount == 0 && dir == "asc") {
            dir = "desc";
            switching = true;
          }
        }
      }
    }
  </script>
  <script th:src="@{/js/test.js}" type="module"></script>

</body>

</html>
