/* usa este fichero para personalizar tus vistas */

.iwthumb {
    height: 32px;
    width: 32px;
}

.errTable tr>td:first-child {
    min-width: 200px;
    max-width: 200px;
    word-break: break-all;
    font-weight: bold;
    color: gray;
}

.errTable td {
    vertical-align: top;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}

.modbody {
    height: 400px;
}

.form-group {
    display: flex;
    align-items: center;
}

.form-group label {
    margin-right: 10px;
    width: 250px;
}

.form-group input {
    flex: 1;
}
/*MODAL*/

#modal::backdrop{
    background-color: rgba(0, 0, 0, .55);
}

#modal {
    max-width: fit-content;
    max-height: fit-content;
}

#btn-abrir-modal {
    width: 350px;
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    text-shadow: 3px 2px 1px #9daef5;
    -webkit-box-shadow: 6px 5px 24px #666666;
    -moz-box-shadow: 6px 5px 24px #666666;
    box-shadow: 6px 5px 24px #666666;
    font-family: Arial;
    color: #fafafa;
    font-size: 27px;
    padding: 19px;
    text-decoration: none;
    margin-left: 50%;
    transform: translateX(-50%); 
}

table .btneditar {
    color: dodgerblue;
    cursor: pointer;
}
table .btntrash {
    color: red;
    cursor: pointer;
}
table .btnadd {
    color: dodgerblue;
    cursor: pointer;
}

.alertTable {
    width: 100px;
    height: 100px;
    text-align: left;
}

.alertTable td {
    color: red;
    text-align: left;
}

/*Plates*/
.plato {
    display: flex;
    align-items: center;
  }

  .plato h3 {
    margin-right: 10px;
  }

  .oculto {
    display: none;
  }

.sortable {
    cursor: pointer; /* cambia el cursor del ratón a la forma de un ícono de pulsar */
}

.selected {
    color: red;
}

/*MENUS*/
.contenedor {
    display: flex;
  }

.columna {
    width: 80%;
}
.small-columna{
    width: 30%
}
/*Columna tablas menus*/
.custom-table-container {
    width: 80%; /* ajusta el ancho de la tabla */
    margin-left: 120px; /* alinea la tabla a la izquierda */
    margin-right: auto;
    height: 200px; /* ajusta la altura de la tabla */
    overflow-y: scroll; /* añade una barra lateral si la altura de la tabla supera 200px */
}
.btn-cell {
    text-align: right;
    width: "10%";
}

.custom-title {
    margin-left: 120px;
    color: blue;
}

html{
    font-family: system-ui;
}
  
.wrap{
    max-width: 1200px;
    margin: 0 auto;
}
.column-3{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 1rem;
    row-gap: 1rem;
}

.menu-restaurante{
    color: #fff;  
    text-align: center;
    background-repeat: no-repeat;
    border-radius: 6px;
    display: flex;
    flex-flow: column;
}

hr{
    background: #FFC300;
    height: 2.5px;
    width: 30px;
    border: none;
}

.precio-menu{
    font-weight: bold;
}

.precio-menu span{
    font-size: 2rem;
    color: #FFC300;
}

.menu-title {
    color: blue;
    margin-left: 100px;
}

.menu-category {
    color: yellow;
}

