/* usa este fichero para personalizar tus vistas */

.iwthumb {
    height: 32px;
    width: 32px;
}

.errTable tr>td:first-child {
    min-width: 200px;
    max-width: 200px;
    word-break: break-all;
    font-weight: bold;
    color: gray;
}

.errTable td {
    vertical-align: top;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}

.modbody {
    height: 400px;
}

.form-group {
    display: flex;
    align-items: center;
}

.form-group label {
    margin-right: 10px;
    width: 250px;
}

.form-group input {
    flex: 1;
}
.nav-item {
    font-size: 20px;
}

.header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

/*MODAL*/

#modal::backdrop{
    background-color: rgba(0, 0, 0, .55);
}

#modal {
    max-width: fit-content;
    max-height: fit-content;
}

/*Tablas*/

table .btneditar {
    color: dodgerblue;
    cursor: pointer;
}
table .btntrash {
    color: red;
    cursor: pointer;
}
table .btnadd {
    color: dodgerblue;
    cursor: pointer;
}

.alertTable {
    width: 100px;
    height: 100px;
    text-align: left;
    margin-right: 50px;
}

.alertTable td {
    color: red;
    text-align: left;
}
.sortable {
    cursor: pointer; /* cambia el cursor del ratón a la forma de un ícono de pulsar */
}

.selected {
    color: red;
}

.resaltado {
    background-color: yellow;
}

/*Platos*/
.plato {
    display: flex;
    align-items: center;
  }

.plato h3 {
    margin-right: 10px;
}

.oculto {
    display: none;
}

/*MENUS*/
@media only screen and (max-width: 600px) {
    /* estilos para dispositivos móviles con ancho máximo de pantalla de 600px */
    .columna-2 {
      margin-left: 0;
      padding-left: 0;
    }
}
.contenedor {
    display:flex;
    justify-content: space-between;
    margin-right: 150px;
    margin-left: 150px;
}

/*Columna tablas menus*/
.custom-table-container {
    width: 80%; /* ajusta el ancho de la tabla */
    margin-left: 120px; /* alinea la tabla a la izquierda */
    margin-right: auto;
    height: 200px; /* ajusta la altura de la tabla */
    overflow-y: scroll; /* añade una barra lateral si la altura de la tabla supera 200px */
}
.container-menu {
    display: flex;
    justify-content:center;
    gap: 200px; /* espacio de 10px entre elementos */
}
.btn-cell {
    text-align: right;
    width: "10%";
}
.btn-default {
    background-color: black;
    font-size: 14px;
    padding: 7px;
}

.custom-title {
    margin-left: 120px;
    color: blue;
}

html{
    font-family: system-ui;
}
  
.wrap{
    max-width: 1200px;
    margin: 0 auto;
}

/*.menu-restaurante{
    color: #fff;  
    text-align: center;
    background-repeat: no-repeat;
    border-radius: 6px;
    display: flex;
    flex-flow: column;
}

hr{
    background: #FFC300;
    height: 2.5px;
    width: 30px;
    border: none;
}

.precio-menu{
    font-weight: bold;
}

.precio-menu span{
    font-size: 2rem;
    color: #FFC300;
}

.menu-title {
    color: blue;
    text-align: center;
}

.menu-category {
    color: yellow;
}*/
.bg-image {
    background: url(/img/fondo.jpg) center;
    background-size: cover;

}
.nav-image {
    background: url(/img/nav.png) center;
    background-size: cover;

}
html, body {
    height: 100%;
}

.btn-addtomenu input[type="checkbox"] {
    width: 24px;
    height: 24px;
}
.custom-checkbox {
    cursor: pointer;
}
.small-input {
    width: 50px;
}
.tables-container {
    display: flex;
 }
  
.table-container {
    display: inline-block;
    width: 50%;
    margin: 0 5px;
}